.c-card_content {
    display: grid;
    grid-gap:5px;
    grid-template-columns: repeat(5, 150px);
    justify-content: center;
    justify-items: center;
    padding: 30px;
    
  }
.c-card{
  display: flex;
 background-color: black;
 width: 120px;
 height: 100px;
 
}
.c-card h2{
 color: white;
}